# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/lib/firebase_options.dart

# iOS
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/Flutter/.last_build_id
/ios/Runner.xcworkspace/
/ios/Runner/Assets.xcassets/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock
/ios/build/
/ios/ios.iml
/ios/Flutter/Generated.xcconfig

# Android
/android/gradle.properties
/android/local.properties
/android/key.properties
/android/app/src/main/assets/flutter_assets/
/android/.gradle/
/android/app/build/
/android/app/.*.iml
/android/app/.cxx/
/android/build/
/android/gradlew
/android/gradlew.bat
/android/.idea/
/android/Flutter/
/android/*_plugin.iml

# VS Code
.vscode/

# Intellij
.idea/
*.iml

# Secret files - Tambahkan file sensitif Anda di sini
.env
.firebase.json
.pubspec.lock